<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" th:href="@{/styles/main.css}">
  </head>
  <body>
    <th:block th:replace="~{fragments/header :: header}"></th:block>

    <main class="page-main">
      <th:block layout:fragment="content"></th:block>
    </main>

    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
  </body>
</html>